.creditcardform-footer {
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.creditcardform-footer .next-btn {
    background-color: rgb(157, 31, 173);
    border-color: rgb(157, 31, 173);
}

.creditcardform-footer .next-btn:hover {
    background-color: rgb(106, 31, 177);
    border-color: rgb(106, 31, 177);
}

.creditcardform-footer .backtocart-btn {
    color: black;
}

.creditcardform-footer .nav-link:hover {
    color:white;
}

.creditcardform-footer .back-btn {
    background-color: white;
    border-color: rgb(189, 187, 187);
    color: black;
}

.creditcardform-footer .back-btn:hover {
    background-color: rgb(151, 150, 150);
    border-color: rgb(189, 187, 187);
    color: white;
}

.error {
    border: 1px solid rgb(228, 42, 42);
}

.error-message {
    color: rgb(228, 42, 42);
    font-size: .8em;
}


@media screen and (min-width: 991px) and (max-width: 1399px) {
    .creditcardform-footer {
        width: 80%;
    }
}
