.cart-footer {
    text-align: right;
}

h4 {
    margin-bottom: 1.5em;
}

tr {
    text-align: center;
}

.subtotal {
    font-weight: bold;
}

.cart-footer-buttons {
    display: flex;
    justify-content: right;
    column-gap: 2em;
    margin: 2em 0;
}

.cart-footer-buttons .btn-primary {
    background-color: rgb(157, 31, 173);
    border-color: rgb(157, 31, 173);
}

.cart-footer-buttons .btn-primary:hover {
    background-color: rgb(106, 31, 177);
    border-color: rgb(106, 31, 177);
}

.checkout-btn span{
    text-decoration: none;
    color: white;
}